<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <br />
    <div class="row">
      <div class="col-sm-8"><h2>Issues</h2></div>
      <div class="col-sm-4 text-end">
        <a href="/new-issue" class="btn btn-outline-primary">New issue</a>
      </div>
    </div>
    <hr />

    <% issues.forEach(issue => { %>
    <div class="card">
      <div class="card-body">
        <h3><%= issue.title %></h3>
      </div>
      <div class="card-footer">
        <a href="/issue/<%= issue.id %>"
          ><button class="btn btn-success">Reply</button></a
        >
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include('partials/footer.ejs') %>
