<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <hr />
    <div class="row">
      <div class="col-sm-8">
        <h2><%= issue.title %></h2>
        <p><%= issue.description%></p>
      </div>
      <div class="col-sm-4 text-end">
        <a href="/edit-issue/<%= issue.id %>" class="btn btn-outline-success"
          >Edit issue</a
        >
        <a href="/close-issue/<%= issue.id %>" class="btn btn-outline-warning"
          >Close issue</a
        >
      </div>
    </div>

    <hr />
    <form action="/comment" method="post">
      <label>Comment</label>
      <textarea
        name="comment"
        placeholder="Write a comment"
        class="form-control"
        required
      ></textarea
      ><br />
      <input type="hidden" name="issue" value="<%= issue.id %>" />
      <button type="submit" class="btn btn-success">Comment</button>
    </form>
    <hr />
    <h3>Comments</h3>
    <% comments.forEach(data => { %>
    <div class="card">
      <div class="card-body">
        <p><%= data.comment%></p>
      </div>
    </div>
    <br />
    <% }) %>
  </div>
</body>
<%- include('partials/footer.ejs') %>
